# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Server.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ln\proj\ab\server\Server\.idea\.idea.Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
